body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;   
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: floralwhite;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    flex: 3;
    padding: 1em 0;
}

.title {
    width: 70%;
    color: lightseagreen;
    margin: 0;
    font-size: 5rem;
    text-align: center;
}

.endTitle {
    width: 50%;
    color: floralwhite;
    margin: 0;
    padding: 1rem 3rem;
    font-size: 3rem;
    text-align: center;
    background-color: lightseagreen;
}

.endTitle2 {
    width: 70%;
    color: lightseagreen;
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.small-words {
    width: 100%;
    background-color: lightseagreen;
    padding: 0rem 2rem;
    text-align: center;
    font-size: 2rem;
    color: floralwhite;
    margin: 0;
}

.sensei-image {
    height: 40%;
    border-radius: 100%;
}


.start-button, .skip-button, .skill-button {
    background-color: lightseagreen;
    padding: .5rem 1.5rem;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
    color: floralwhite;
    margin: 0;
    border-radius: 8%;
}

.skill-button {
    cursor: pointer;
}

.skill-button:hover {
    background-color: pink;
}


.start-button {
    background-color: lightseagreen;
}

.start-button:hover {
    background-color: pink;
}

.puzzle-board {
    background-color: pink; 
    --board-width: 100vw;
    --board-height: 100vw;
    width: var(--board-width);
    height: var(--board-height);
    display: flex;
    flex-wrap: wrap;
}

.timer {
    color: lightseagreen;
    margin: 0;
    font-size: 3rem;
}

.timer-green {
    color: pink;
}

.skip-button {
    background-color: lightseagreen;
}

.skip-button:hover {
    background-color: pink;
}

@media (min-width: 300px)  {
    .puzzle-board {
        --board-width: 100vw;
        --board-height: var(--board-width);
    }
    .endTitle {
        width: 100%;
        font-size: 3rem;
    }
    .title {
        width: 100%;
        font-size: 3rem;
    }
    .main {
        padding: 2rem 0;
    }
}

@media (min-width: 360px)  {
    .puzzle-board {
        --board-width: 100vw;
        --board-height: var(--board-width);
    }
    .endTitle {
        width: 100%;
        font-size: 4rem;
    }
    .title {
        width: 70%;
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    .puzzle-board {
        --board-width: 70vh;
        --board-height: 70vh;
    }
    body {
        font-size: 40px;
    }
    .endTitle {
        width: 40%;
        font-size: 3rem;
    }
    .small-words {
        width: 40%;
    }
    .title {
        font-size: 5rem;
    }
    .timer {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    .puzzle-board {
        --board-width: 70vh;
        --board-height: 70vh;
    }
    body {
        font-size: 10px;
    }
    .endTitle {
        width: 40%;
        font-size: 3rem;
    }
    .small-words {
        width: 40%;
    }
    .endTitle2 {
        width: 70%;
        color: lightseagreen;
        margin: 0;
        font-size: 3rem;
        text-align: center;
    }
    .timer {
        font-size: 3rem;
    }
    .title {
        font-size: 4rem;
    }
}

.puzzle-piece {
    width: calc(var(--board-width) / 3);
    height: calc(var(--board-height) / 3);
    position: relative;
    overflow: hidden;
    pointer-events: none;
    cursor: pointer;
}

.top-left-image, .top-mid-image, .top-right-image, .mid-left-image, .mid-mid-image, .mid-right-image, .bottom-left-image, .bottom-mid-image, .bottom-right-image {
    width: 300%;
    height: 300%;
    position: absolute;
    pointer-events: all;
}

.top-left-image {
    top: 0;
    left: 0;
}

.top-mid-image {
    top: 0;
    left: calc(var(--board-width) / -3);
}

.top-right-image {
    top: 0;
    left: calc((var(--board-width) / -3) * 2);
}

.mid-left-image {
    top: calc(var(--board-height) / -3);
    left: 0;
}

.mid-mid-image {
    top: calc(var(--board-height) / -3);
    left: calc(var(--board-width) / -3);
}

.mid-right-image {
    top: calc(var(--board-height) / -3);
    left: calc((var(--board-width) / -3) * 2);
}

.bottom-left-image {
    top: calc((var(--board-height) / -3) * 2);
    left: 0;
}

.bottom-mid-image {
    top: calc((var(--board-height) / -3) * 2);
    left: calc(var(--board-width) / -3);
}

.bottom-right-image {
    top: calc((var(--board-height) / -3) * 2);
    left: calc((var(--board-width) / -3) * 2);
}

.highlightproperties {
    opacity: 0.33;
}