body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: Arial, Helvetica, sans-serif;   
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
    flex-shrink: inherit;
}

.puzzle-board {
    background-color: pink; 
    --board-width: 80vw;
    --board-height: 80vw;
    width: var(--board-width);
    height: var(--board-height);
    display: flex;
    flex-wrap: wrap;
}

.timer {
    color: red;
    margin: 0;
    font-size: 300%;
}

.timer-green {
    color: green;
}

.skip-button {
    background-color: green;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

@media (min-width: 360px)  {
    .puzzle-board {
        --board-width: 100vw;
        --board-height: var(--board-width);
    }
}

@media (min-width: 360px) and (orientation: landscape) {
    .puzzle-board {
        --board-width: 80vw;
        --board-height: 80vw;
    }
}

@media (min-width: 768px) {
    .puzzle-board {
        --board-width: 80vw;
        --board-height: 80vw;
    }
}

@media (min-width: 768px) and (orientation: landscape) {
    .puzzle-board {
        --board-width: 75vh;
        --board-height: 75vh;
    }
}

@media (min-width: 1200px) {
    .puzzle-board {
        --board-width: 75vh;
        --board-height: 75vh;
    }
}

.puzzle-piece {
    width: calc(var(--board-width) / 3);
    height: calc(var(--board-height) / 3);
    position: relative;
    overflow: hidden;
    pointer-events: none;
}

.top-left-image, .top-mid-image, .top-right-image, .mid-left-image, .mid-mid-image, .mid-right-image, .bottom-left-image, .bottom-mid-image, .bottom-right-image {
    width: 300%;
    height: 300%;
    position: absolute;
    pointer-events: all;
}

.top-left-image {
    top: 0;
    left: 0;
}

.top-mid-image {
    top: 0;
    left: calc(var(--board-width) / -3);
}

.top-right-image {
    top: 0;
    left: calc((var(--board-width) / -3) * 2);
}

.mid-left-image {
    top: calc(var(--board-height) / -3);
    left: 0;
}

.mid-mid-image {
    top: calc(var(--board-height) / -3);
    left: calc(var(--board-width) / -3);
}

.mid-right-image {
    top: calc(var(--board-height) / -3);
    left: calc((var(--board-width) / -3) * 2);
}

.bottom-left-image {
    top: calc((var(--board-height) / -3) * 2);
    left: 0;
}

.bottom-mid-image {
    top: calc((var(--board-height) / -3) * 2);
    left: calc(var(--board-width) / -3);
}

.bottom-right-image {
    top: calc((var(--board-height) / -3) * 2);
    left: calc((var(--board-width) / -3) * 2);
}

.highlightproperties {
    opacity: 0.33;
}